flask
lxml
PyHamcrest>=1.9.0
html-slacker
slackclient==1.3.1
#flask-swagger-ui==3.20.9
flask_restplus
#HTMLSlacker
Flask
Flask_restful
requests
simplejson
#pprint
elasticsearch
Flask-Cors
cx_Oracle
mysql-connector-python
PyMySQL
