<div>
  <h3><ng-md-icon icon="business" size="40"></ng-md-icon> Projects</h3>
</div>

<div class="row">
  <md-button class="md-fab md-primary pull-right" aria-label="New Project" href="/projects/new">
    <md-icon ng-md-icon icon="add"></md-icon>
  </md-button>

  <md-button class="md-fab md-warn pull-right" aria-label="Delete Project" ng-click="showConfirm($event)" ng-disabled="!selected.length">
    <md-icon ng-md-icon icon="delete"></md-icon>
  </md-button>
</div>
<div class="row">

<md-table-container>
  <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
    <thead md-head md-order="query.order" md-on-reorder="getDesserts">
    <tr md-row>
      <th md-column md-numeric><span>ID</span></th>
      <th md-column ><span>Name</span></th>
      <!--<th md-column >Site</th>-->
      <th md-column >Type</th>
      <!--<th md-column >Site ID</th>-->

    </tr>
    </thead>
    <tbody md-body>
    <tr md-row md-select="project" md-select-id="id" md-auto-select ng-repeat="project in projects">

      <td md-cell>{{$index}}</td>
      <!--<td md-cell><a href="/projects/view/{{project._id}}">{{project.name}}</a></td>-->
      <td md-cell>{{project.name}}</td>
      <!--<td md-cell>{{project.site}}</td>-->
      <td md-cell>{{project.type}}</td>
      <!--<td md-cell>{{project.siteID}}</td>-->
    </tr>
    </tbody>
  </table>
</md-table-container>
</div>
