<h2 style="color:dimgrey;">
  <ng-md-icon icon="equalizer" style="fill: dimgrey;"></ng-md-icon>
  {{ component }} - {{ jobObject.state | uppercase }}
</h2>

<style>
  .ace_editor {
    height: 200px;
  }

  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 0px;
  }
</style>

<md-content class="md-padding" style="padding-top:25px;">

  <div layout="row">

    <div layout="column" ng-show="ansibleOutput">
      <md-button class="md-raised"
                 ng-click="view = (view === 'console' ? 'json' : view === 'json' ? 'table'  : 'console');icon = (icon === 'format_align_justify' ? 'list' : 'format_align_justify')">
        <ng-md-icon icon="{{icon}}"></ng-md-icon>
        View
      </md-button>
    </div>

    <div layout="column">
      <md-button ng-show="lastJobSelected && (!rollbackPoints || component== '_rollback-ehc') && jobObject.state != 'active'" class="md-raised md-primary"
                 href="/ansible/run?component={{component}}&ansibleJobId={{jobObject._id}}">
        <ng-md-icon icon="replay"></ng-md-icon>
        Re-Run
      </md-button>
    </div>

    <div layout="column" ng-if="isSuperAdmin">
      <md-button ng-show="lastJobSelected && jobObject.state == 'failed'" md-theme="red" md-theme-watch class="md-raised md-primary"
                 href="/ansible/run?component={{component}}&ansibleJobId={{jobObject._id}}&retryFailed=true">
        <ng-md-icon icon="replay"></ng-md-icon>
        Retry-Failed
      </md-button>
    </div>

    <div layout="column">
      <md-button ng-show="lastJobSelected && component!= '_rollback-ehc' && rollbackPoints && jobObject.state == 'failed'" md-theme="red" md-theme-watch class="md-raised md-primary"
                 href="/ansible/run?component=_rollback-ehc&masterComponent={{component}}">
        <ng-md-icon icon="replay"></ng-md-icon>
        Rollback
      </md-button>
    </div>

    <div layout="column">
      <md-button ng-show="jobObject.state == 'active' || jobObject.state == 'stopping'" md-theme="red" md-theme-watch
                 class="md-raised md-primary"
                 ng-click="stopJob()" ng-disabled="jobObject.state == 'stopping'">
        <ng-md-icon ng-class="{'fa-spin':stopButtonIcon=='refresh'}" icon="{{stopButtonIcon}}"></ng-md-icon>
        Stop
      </md-button>
    </div>

    <div layout="column">
      <md-button ng-show="jobObject.state == 'stopping' || jobObject.state == 'killing'" md-theme="red" md-theme-watch
                 class="md-raised md-primary"
                 ng-click="killJob()" ng-disabled="jobObject.state == 'killing'">
        <ng-md-icon ng-class="{'fa-spin':killButtonIcon=='refresh'}" icon="{{killButtonIcon}}"></ng-md-icon>
        Kill
      </md-button>
    </div>

    <div flex layout="column">
      <timer ng-if="showRunTime && execution_duration.days" duration="execution_duration"
             tick="jobObject.state == 'active' && progress < 100">
      </timer>
    </div>

    <div layout="column">
      <md-input-container class="md-block">
        <label>Runs</label>
        <md-select md-on-close="runSelected()" id="type" ng-model="selectedJob.job" style="width:300px;">
          <md-option ng-repeat="job in jobObjects | orderBy:'-date'" ng-value="job">
            {{job.date | date : 'medium'}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
  </div>

  <div ng-if="view=='console'">
    <md-content style="height:800px;">
      <div style="width:100%;padding:20px;">
        <p class="logconsole" ng-bind-html="displayLogContent"></p>
      </div>
    </md-content>
  </div>

  <div ng-if="view=='json'">
    <div ui-ace="{showGutter: true, theme:'twilight',document:'json',mode:'json',onChange:codeChanged,onLoad:aceLoaded}"
         ng-model="logJSONContent" ng-readonly="true" style="height:800px;"></div>
  </div>

  <!--<h4>Showing {{ filteredTasks.length }} tasks of {{ tasksList.length }}</h4>-->

  <div ng-if="view=='table'" style="margin-top:20px;">

    <uib-progressbar max="100" value="progress" type="{{progressType}}"><span style="color:white; white-space:nowrap;">{{progress}}%</span>
    </uib-progressbar>

    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>Play</th>
          <th></th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat-start="playObj in uniquePlays" style="border-bottom: 2px solid #fff;">
          <!--<td><ng-md-icon style="cursor: pointer" ng-click="expandRow(task)" icon="{{task.icon}}" ng-if="task.icon"></ng-md-icon>{{task.taskName}}</td>-->

          <td>
            <toggle-button ng-if="playObj.icon" btn-disabled="" show-icon="'keyboard_arrow_right'"
                           hide-icon="'keyboard_arrow_down'" show-state="true" hide-state="false"
                           state="playObj.expand"></toggle-button>
            <product-logo size="'small'" product="playObj.name.split(' ')[0]"></product-logo>{{playObj.name}}
          </td>
          <td>
            <timer ng-if="playObj.execution_duration.days"
                   duration="playObj.execution_duration"
                   tick="playObj.status == 'Running'" size="'Small'">
            </timer>
          </td>
          <td>
            <status-label state="playObj.status" md-raised="'noRaise'" style="display: inline-block;"
                          default-text="playObj.status">{{playObj.status}}
            </status-label>
          </td>
        </tr>
        <tr ng-repeat-end ng-if="playObj.expand.value">
          <td colspan="2">
            <div uib-collapse="!playObj.expand.value" style="margin-left:50px;">

              <div class="table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Task</th>
                    <th>Status</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat-start="task in playObj.resultTasks" style="border-bottom: 2px solid #fff;">
                    <!--<td><ng-md-icon style="cursor: pointer" ng-click="expandRow(task)" icon="{{task.icon}}" ng-if="task.icon"></ng-md-icon>{{task.taskName}}</td>-->

                    <td>
                      <toggle-button ng-if="task.icon" btn-disabled="" show-icon="'keyboard_arrow_right'"
                                     hide-icon="'keyboard_arrow_down'" show-state="true" hide-state="false"
                                     state="task.expand"></toggle-button>
                      {{task.taskName}}
                    </td>
                    <td>
                      <status-label state="task.status" md-raised="'noRaise'" style="display: inline-block;"
                                    default-text="task.status">{{task.status}}
                      </status-label>
                    </td>
                  </tr>
                  <tr ng-repeat-end ng-if="task.expand.value">
                    <td colspan="2">
                      <div uib-collapse="!task.expand.value" style="margin-left:50px;">

                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                            <tr>
                              <th></th>
                              <th></th>
                              <th>Start Time</th>
                              <th>End Time</th>
                              <th style="text-align:center">Duration</th>
                              <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat-start="subTaskObject in task.subTasks | orderBy:'hostObject.end_time'"
                                style="border-bottom: 2px solid #fff;">
                              <td>
                                <toggle-button btn-disabled="!subTaskObject.hasMsg" show-icon="'keyboard_arrow_right'"
                                               hide-icon="'keyboard_arrow_down'" show-state="true" hide-state="false"
                                               state="subTaskObject.expand"></toggle-button>
                                {{ subTaskObject.hostName }}
                              </td>
                              <td> {{ subTaskObject.method }}</td>
                              <td> {{ subTaskObject.hostObject.start_time | date:'mediumTime' }}</td>
                              <td> {{ subTaskObject.hostObject.end_time | date:'mediumTime' }}</td>
                              <td>
                                <timer ng-if="subTaskObject.hostObject.execution_duration.days"
                                       duration="subTaskObject.hostObject.execution_duration"
                                       tick="subTaskObject.status == 'Running'" size="'Small'">
                                </timer>
                              </td>
                              <td>
                                <status-label state="subTaskObject.status" style="display: inline-block;"
                                              default-text="subTaskObject.status">{{subTaskObject.status}}
                                </status-label>
                                <!--<md-button
                                  ng-if="$last && subTaskObject.status == 'Running' && subTaskObject.showVraLogs"
                                  class="md-raised" style="display: inline-block;"
                                  ng-click="displayVraLogs()">
                                  <ng-md-icon icon="{{icon}}"></ng-md-icon>
                                  Logs
                                </md-button>-->
                              </td>
                            </tr>
                            <tr ng-repeat-end>
                              <td colspan="6">

                                <div ng-if="subTaskObject.expand.value">
                                  <div class="col-md-12" ng-if="subTaskObject.hostObject.stdout">
                                    <p class="logconsole"
                                       ng-bind-html="subTaskObject.hostObject.stdout | replaceLineBreaks"></p>
                                    <!--<div ui-ace="{showGutter: false, theme:'twilight',document:'text',mode:'text',firstLineNumber: 1000,onChange:codeChanged,onLoad:aceLoaded}" ng-model="subTaskObject.hostObject.stdout" ng-readonly="true"></div>-->
                                  </div>

                                  <div class="col-md-12" ng-if="subTaskObject.hostObject.dataJsonString">
                                    <!--<p class="logconsole" ng-bind-html="subTaskObject.hostObject.dataJsonString | replaceLineBreaks"></p>-->
                                    <!--<div ui-ace="{showGutter: false, theme:'twilight',document:'json',mode:'json',firstLineNumber: 1000,onChange:codeChanged,onLoad:aceLoaded}" ng-model="subTaskObject.hostObject.dataJsonString" ng-readonly="true" style="height:{{subTaskObject.hostObject.dataJsonHeight}}px;"></div>-->
                                    <div hljs hljs-source="subTaskObject.hostObject.dataJsonString"></div>
                                  </div>


                                  <div class="col-md-12"
                                       ng-if="!subTaskObject.hostObject.dataJsonString && subTaskObject.hostObject.msg">
                                    <p
                                      style="color:lightgrey;" class="logconsole"
                                      ng-bind-html="(subTaskObject.hostObject.msg.data || subTaskObject.hostObject.msg) | replaceLineBreaks"></p>
                                  </div>
                                  <div class="col-md-12" ng-if="subTaskObject.hostObject.json"><p
                                    style="color:lightgrey;"
                                    class="logconsole">JSON =
                                    {{subTaskObject.hostObject.json}}</p></div>
                                  <div class="col-md-12" ng-if="subTaskObject.hostObject.stderr"><p
                                    style="color:#cd616b;"
                                    class="logconsole"
                                    ng-bind-html="subTaskObject.hostObject.stderr | replaceLineBreaks"></p>
                                  </div>

                                  <div class="col-md-12" ng-if="subTaskObject.hostObject.module_stdout"><p
                                    style="color:lightgrey;" class="logconsole"
                                    ng-bind-html="subTaskObject.hostObject.module_stdout | replaceLineBreaks"></p></div>
                                  <div class="col-md-12" ng-if="subTaskObject.hostObject.module_stderr"><p
                                    style="color:#cd616b;"
                                    class="logconsole"
                                    ng-bind-html="subTaskObject.hostObject.module_stderr | replaceLineBreaks"></p>
                                  </div>
                                  <div class="col-md-12" ng-if="subTaskObject.hostObject.warnings.length"><p
                                    style="color:darkorange;" class="logconsole"
                                    ng-bind-html="subTaskObject.hostObject.warnings.join('\n') | replaceLineBreaks"></p>
                                  </div>

                                </div>

                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</md-content>
