node_modules
public
.tmp
.idea
source/web/client/bower_components
dist
/server/config/local.env.js
npm-debug.log
coverage
logs
scripts/input
scripts/lic
scripts/tmp
scripts/logs
server/components/ssl/certs
doc
source/VMware-ovftool-4.1.0-2459827-lin.x86_64.bundle
!source/ozone-scripts/ehc-ansible-project-template
source/ozone-scripts/ehc-python-modules
source/ozone-scripts/ehc-python-scripts
ozone-scripts/.gitignore
ozone-scripts/ehc-ansible-project-templates/EHC41/_validate_windows.yml
ozone-scripts/ehc-ansible-project-templates/EHC41/callback_plugins/jsonp.pyc
ozone-scripts/ehc-ansible-project-templates/EHC41/callback_plugins/ozone.pyc
ozone-scripts/ehc-ansible-project-templates/EHC41/group_vars/
ozone-scripts/ehc-ansible-project-templates/EHC41/host_vars/cloud_vcenter_server
ozone-scripts/ehc-ansible-project-templates/EHC41/host_vars/log_insight
ozone-scripts/ehc-ansible-project-templates/EHC41/host_vars/log_insight_worker_1
ozone-scripts/ehc-ansible-project-templates/EHC41/host_vars/log_insight_worker_2
ozone-scripts/ehc-ansible-project-templates/EHC41/host_vars/sql_server
ozone-scripts/ehc-ansible-project-templates/EHC41/host_vars/vr_business
ozone-scripts/ehc-ansible-project-templates/EHC41/host_vars/vra_manager_primary
ozone-scripts/ehc-ansible-project-templates/EHC41/host_vars/vra_manager_secondary
ozone-scripts/ehc-ansible-project-templates/EHC41/host_vars/vra_proxy_agent_primary
ozone-scripts/ehc-ansible-project-templates/EHC41/host_vars/vra_proxy_agent_secondary
ozone-scripts/ehc-ansible-project-templates/EHC41/host_vars/vra_web_secondary
ozone-scripts/ehc-ansible-project-templates/EHC41/host_vars/vra_worker_primary
ozone-scripts/ehc-ansible-project-templates/EHC41/host_vars/vra_worker_secondary
ozone-scripts/ehc-ansible-project-templates/EHC41/host_vars/vro_primary
ozone-scripts/ehc-ansible-project-templates/EHC41/host_vars/vro_secondary
ozone-scripts/ehc-ansible-project-templates/EHC41/host_vars/vrops_manager
ozone-scripts/ehc-ansible-project-templates/EHC41/roles/ansible-role-deploy-ovfs/tests/test.retry
ozone-scripts/ehc-ansible-project-templates/EHC41/roles/ansible-role-ehc-validation/tasks/pre-validation-active-directory.yml
ozone-scripts/ehc-ansible-project-templates/EHC41/roles/ansible-role-ehc-validation/tasks/pre-validation-dns.yml
ozone-scripts/ehc-ansible-project-templates/EHC41/roles/ansible-role-ehc-validation/tasks/pre-validation-input.yml
ozone-scripts/ehc-ansible-project-templates/EHC41/roles/ansible-role-ehc-validation/tasks/pre-validation-ntp.yml
ozone-scripts/ehc-ansible-project-templates/EHC41/roles/ansible-role-ehc-validation/tasks/pre-validation-repository.yml
ozone-scripts/ehc-ansible-project-templates/EHC41/roles/ansible-role-ehc-validation/tasks/pre-validation-smtp.yml
ozone-scripts/ehc-ansible-project-templates/EHC41/tasks/
ozone-scripts/ehc-ansible-project-templates/EHC41/test_var.yml
!source/ozone-scripts/ehc-python-modules/ansible_modules/my_playbook.py
source/tests/browser/output