<div ng-if="!components.length" layout-margin class="alert alert-info">
  No sufficient data. Head over to <a href="/design">Design</a> section and fill in environment details
</div>
<md-input-container layout-right>
  <md-checkbox  ng-model="showIssuer">
    Show Issuer
  </md-checkbox>
</md-input-container>
<md-table-container width="800px">
  <table md-table md-progress="promise">
    <thead md-head md-order="query.order">
    <tr md-row>
      <th md-column md-numeric><span>ID</span></th>
      <th md-column ><span>Name</span></th>
      <th md-column ><span>Link</span></th>
      <!--<th md-column >Certificate</th>
      <th md-column >Issuer</th>-->
      <th md-column ><span>Country</span></th>
      <th md-column ><span>State</span></th>
      <th md-column ><span>Location</span></th>
      <th md-column ><span>Organization</span></th>
      <th md-column ><span>OU</span></th>
      <th md-column ><span>CN</span></th>

      <th md-column ><span>Start Date</span></th>
      <th md-column ><span>End Date</span></th>

      <!--<th md-column ><span>Issuer</span></th>-->

    </tr>
    </thead>
    <tbody md-body>
    <tr md-row md-select="component" md-select-id="id" md-auto-select ng-repeat="component in components">

      <td md-cell>{{$index + 1}}</td>
      <td md-cell>{{component.name}}</td>
      <td md-cell>{{component.accessLink}}</td>
      <!--<td md-cell style="padding-left:20px;" ng-class="{'version_mismatch' : component.version && (component.version !== component.supported_version),'version_match' : component.version === component.supported_version}">{{component.license}}<md-progress-circular ng-show="component.loading" md-mode="indeterminate"></md-progress-circular></td>-->
      <!--<td md-cell><md-progress-circular ng-show="component.loading" md-mode="indeterminate"></md-progress-circular>
        <div ng-repeat="certificateItem in component.certificate" style="display:inline-block">
          <md-button >{{certificateItem.type + '=' + certificateItem.value}}</md-button>
        </div>
      </td>
      <td md-cell>
        <div ng-repeat="certificateItem in component.issuer" style="display:inline-block">
          <md-button >{{certificateItem.type + '=' + certificateItem.value}}</md-button>
        </div>
      </td>-->
      <td md-cell ng-if="!showIssuer">{{component.certificate.C }} <md-progress-circular ng-show="component.loading" md-mode="indeterminate"></md-progress-circular></td>
      <td md-cell ng-if="!showIssuer">{{component.certificate.ST}} </td>
      <td md-cell ng-if="!showIssuer">{{component.certificate.L}}  </td>
      <td md-cell ng-if="!showIssuer">{{component.certificate.O}}  </td>
      <td md-cell ng-if="!showIssuer">{{component.certificate.OU}} </td>
      <td md-cell ng-if="!showIssuer">{{component.certificate.CN}} </td>

      <td md-cell ng-if="showIssuer"> {{ component.issuer.C}}<md-progress-circular ng-show="component.loading" md-mode="indeterminate"></md-progress-circular></td>
      <td md-cell ng-if="showIssuer"> {{ component.issuer.ST}}</td>
      <td md-cell ng-if="showIssuer"> {{ component.issuer.L}}</td>
      <td md-cell ng-if="showIssuer"> {{ component.issuer.O}}</td>
      <td md-cell ng-if="showIssuer"> {{ component.issuer.OU}}</td>
      <td md-cell ng-if="showIssuer"> {{ component.issuer.CN}}</td>

      <td md-cell>{{component.certificate.startDate | date}}</td>
      <td md-cell>{{component.certificate.endDate | date}}</td>

      <!--<td md-cell>{{component.issuer}}</td>-->


    </tr>
    </tbody>
  </table>
</md-table-container>
