<h2> Configure SSL Certificates </h2>

<md-table-container width="800px">
  <table md-table md-progress="promise">
    <thead md-head md-order="query.order">
    <tr md-row>
      <th md-column md-numeric><span>ID</span></th>
      <th md-column ><span>Name</span></th>
      <th md-column >FQDN</th>
      <th md-column >Configure</th>

    </tr>
    </thead>
    <tbody md-body>
    <tr md-row md-select="component" md-select-id="id" md-auto-select ng-repeat="component in components">

      <td md-cell>{{$index + 1}}</td>
      <td md-cell>{{component.name}}</td>
      <!--<td md-cell style="padding-left:20px;" ng-class="{'version_mismatch' : component.version && (component.version !== component.supported_version),'version_match' : component.version === component.supported_version}">{{component.license}}<md-progress-circular ng-show="component.loading" md-mode="indeterminate"></md-progress-circular></td>-->
      <td md-cell>{{component.hostname}}<md-progress-circular ng-show="component.loading" md-mode="indeterminate"></md-progress-circular></td>

      <td md-cell>
        <md-button class="md-raised" ng-click="generateCerts($event, component)"> Configure
          <ng-md-icon ng-if="component.buttonicon"  icon="{{component.buttonicon}}" ng-class="{'fa-spin':component.buttonicon == 'refresh'}"></ng-md-icon>
        </md-button>
        <md-checkbox ng-show="component.logsAvailable" ng-model="component.showLog" >Show Log</md-checkbox>
        <div uib-collapse="!component.logOutput || !component.showLog" style="background:black;color:lightgrey;width:100%;padding:20px;">

          <!--<div btf-markdown="tile.logOutput">
          </div>-->
          <p class="logconsole" ng-bind-html="component.logOutput"></p>
          <!--<div angular-terminal="deploy" class="terminal-container"></div>-->
        </div>
      </td>

    </tr>
    </tbody>
  </table>
</md-table-container>
