{
  "chainFilePath": "{{ repository.certs.ca_chain_p7b_path }}",
  "certificates": {
    "NSX Manager": [
      {
        "nsxmgr-svc": {
          "leafCertFilePath": "{{ repository.certs.nsx_cert_path }}",
          "keyFilePath": "{{ repository.certs.nsx_key_path }}",
          "CN": "{{ host_address.nsx_manager.fqdn }}",
          "password": "{{ nsx_manager_info.nsx_pfx_password }}",
        }
      }
    ],
    "PSC": [
      {
        "psc-machinessl-svc": {
          "leafCertFilePath": "{{ repository.certs.psc01_machinessl_svc_cert_path }}",
          "keyFilePath": "{{ repository.certs.psc01_machinessl_svc_key_path }}",
          "CN": "{{ host_address.psc01.fqdn }}"
        },
        "psc-machine-svc": {
          "leafCertFilePath": "{{ repository.certs.psc01_machine_svc_cert_path }}",
          "keyFilePath": "{{ repository.certs.psc01_machine_svc_key_path }}",
          "CN": "{{ host_address.psc01.fqdn }}"
        },
        "psc-vsphere-webclient-svc": {
          "leafCertFilePath": "{{ repository.certs.psc01_vsphere_web_client_svc_cert_path }}",
          "keyFilePath": "{{ repository.certs.psc01_vsphere_web_client_svc_key_path }}",
          "CN": "{{ host_address.psc01.fqdn }}"
        }
      },
      {
        "psc-machinessl-svc": {
          "leafCertFilePath": "{{ repository.certs.psc02_machinessl_svc_cert_path }}",
          "keyFilePath": "{{ repository.certs.psc02_machinessl_svc_key_path }}",
          "CN": "{{ host_address.psc02.fqdn }}"
        },
        "psc-machine-svc": {
          "leafCertFilePath": "{{ repository.certs.psc02_machine_svc_cert_path }}",
          "keyFilePath": "{{ repository.certs.psc02_machine_svc_key_path }}",
          "CN": "{{ host_address.psc02.fqdn }}"
        },
        "psc-vsphere-webclient-svc": {
          "leafCertFilePath": "{{ repository.certs.psc02_vsphere_web_client_svc_cert_path }}",
          "keyFilePath": "{{ repository.certs.psc02_vsphere_web_client_svc_key_path }}",
          "CN": "{{ host_address.psc02.fqdn }}"
        }
      },
      {
        "psc-machinessl-svc": {
          "leafCertFilePath": "{{ repository.certs.autopsc01_machinessl_svc_cert_path }}",
          "keyFilePath": "{{ repository.certs.autopsc01_machinessl_svc_key_path }}",
          "CN": "{{ host_address.autopsc01.fqdn }}"
        },
        "psc-machine-svc": {
          "leafCertFilePath": "{{ repository.certs.autopsc01_machine_svc_cert_path }}",
          "keyFilePath": "{{ repository.certs.autopsc01_machine_svc_key_path }}",
          "CN": "{{ host_address.autopsc01.fqdn }}"
        },
        "psc-vsphere-webclient-svc": {
          "leafCertFilePath": "{{ repository.certs.autopsc01_vsphere_web_client_svc_cert_path }}",
          "keyFilePath": "{{ repository.certs.autopsc01_vsphere_web_client_svc_key_path }}",
          "CN": "{{ host_address.autopsc01.fqdn }}"
        }
      },
    ],
    "vCenter": [
      {
        "vpxd-extension-svc": {
          "leafCertFilePath": "{{ repository.certs.vcenter_vpxd_ext_svc_cert_path }}",
          "keyFilePath": "{{ repository.certs.vcenter_vpxd_ext_svc_key_path }}",
          "CN": "{{ vcenter.fqdn }}"
        },
        "machine-svc": {
          "leafCertFilePath": "{{ repository.certs.vcenter_machine_svc_cert_path }}",
          "keyFilePath": "{{ repository.certs.vcenter_machine_svc_key_path }}",
          "CN": "{{ vcenter.fqdn }}"
        },
        "machinessl-svc": {
          "leafCertFilePath": "{{ repository.certs.vcenter_machinessl_svc_cert_path }}",
          "keyFilePath": "{{ repository.certs.vcenter_machinessl_svc_key_path }}",
          "CN": "{{ vcenter.fqdn }}"
        },
        "vshpere-webclient-svc": {
          "leafCertFilePath": "{{ repository.certs.vcenter_vshpere_webclient_svc_cert_path }}",
          "keyFilePath": "{{ repository.certs.vcenter_vshpere_webclient_svc_key_path }}",
          "CN": "{{ vcenter.fqdn }}"
        },
        "vpxd-svc": {
          "leafCertFilePath": "{{ repository.certs.vcenter_vpxd_svc_cert_path }}",
          "keyFilePath": "{{ repository.certs.vcenter_vpxd_svc_key_path }}",
          "CN": "{{ vcenter.fqdn }}"
        }
      }
    ],
    "vRA": [
      {
        "vra-svc": {
          "leafCertFilePath": "{{ repository.certs.vra_svc_cert_path }}",
          "keyFilePath": "{{ repository.certs.vra_svc_key_path }}",
          "CN": "{{ host_address.vra_load_balancer.fqdn }}"
        },
        "iaasmgr-svc": {
          "leafCertFilePath": "{{ repository.certs.vra_iaas_manager_cert_path }}",
          "keyFilePath": "{{ repository.certs.vra_iaas_manager_key_path }}",
          "CN": "{{ host_address.vra_manager_load_balancer.fqdn }}"
        },
        "iaasweb-svc": {
          "leafCertFilePath": "{{ repository.certs.vra_iaas_web_cert_path }}",
          "keyFilePath": "{{ repository.certs.vra_iaas_web_key_path }}",
          "CN": "{{ host_address.vra_web_load_balancer.fqdn }}"
        }
      }
    ],
    "vRB": [
      {
        "vrb-svc": {
          "leafCertFilePath": "{{ repository.certs.vrb_svc_cert_path }}",
          "keyFilePath": "{{ repository.certs.vrb_svc_key_path }}",
          "CN": "{{ host_address.vr_business.fqdn }}"
        }
      }
    ],
    "vRealize_Log_Insight": [
      {
        "vrli-svc": {
          "leafCertFilePath": "{{ repository.certs.vrli_svc_cert_path }}",
          "keyFilePath": "{{ repository.certs.vrli_svc_key_path }}",
          "CN": "{{ host_address.log_insight.fqdn }}"
        }
      }
    ],
    "vRO": [
      {
        "vro-svc": {
          "leafCertFilePath": "{{ repository.certs.vro_svc_cert_path }}",
          "keyFilePath": "{{ repository.certs.vro_svc_key_path }}",
          "CN": "{{ host_address.vro_load_balancer.fqdn }}"
        }
      }
    ],
    "vROP": [
      {
        "vrops-svc": {
          "leafCertFilePath": "{{ repository.certs.vrops_svc_cert_path }}",
          "keyFilePath": "{{ repository.certs.vrops_svc_key_path }}",
          "CN": "{{ host_address.vrops_manager.fqdn }}"
        }
      }
    ]
  }
}