<!-- Footer -->
<div class="navbar" id="footer">
  <!--<div style="color:rgba(217, 83, 79, 1);">
    This tool is in development phase and is to be strictly used for testing and development purposes only.
    <br>
    NOT TO BE USED IN PRODUCTION OR CUSTOMER ENVIRONMENT
  </div>

  <p class="navbar-text">
    Proof-Of-Concept
  </p>-->
  <!--<p class="navbar-text" style="font-style: italic;">

    Follow us on<br>
    <a href="https://inside.emc.com/thread/238912" target="_blank"><img src="/assets/images/inside-emc-black.png" alt="Inside EMC" width="200"></a>
  </p>-->
  <div ng-if="unsupported_browser" style="color:rgba(217, 83, 79, 1);">
    <img src="assets/images/browser-firefox-icon.png">
    <img src="assets/images/browser-google-chrome-icon.png">
    <br>
    You are using an unsupported browser! This tool has only been tested with Google Chrome/Mozilla Firefox. Please switch to Google Chrome or Mozilla Firefox.
  </div>
  <img src="/assets/icons/DellEMC_Logo_Hz_Gry_rgb.png" style="padding-bottom: 7px;height: 28px;">
  <p class="navbar-text">&copy; 2016-2017 DELL EMC Corporation. All rights reserved.</p>
</div>
