<md-dialog md-theme="green">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2><ng-md-icon icon="stars"></ng-md-icon> Restore Points </h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content class="md-padding" style="padding-top:25px;">

    <div layout="row">
      <div ng-if="err_msg" layout-margin class="alert alert-danger">
        {{err_msg}}
      </div>
    </div>

    <div style="margin-top:20px;">

      <md-table-container>
        <table md-table md-progress="promise">
          <thead md-head md-order="query.order">
          <tr md-row>
            <th md-column md-numeric><span>ID</span></th>
            <th md-column >Action</th>
            <th md-column ><span>Name</span></th>
            <th md-column >Description</th>
            <th md-column >Time</th>
            <th md-column >VMs</th>

          </tr>
          </thead>
          <tbody md-body>
          <tr md-row ng-repeat="configuration in lastGoodConfigurations | filter: filterConfigs">

            <td md-cell>{{$index + 1}}</td>
            <td md-cell>
              <!--ng-disabled="!$last && !$first"-->
              <md-button  md-theme="red" md-theme-watch class="md-raised md-primary" ng-click="restoreLastGoodCondition(configuration)" href="/ansible/run?component={{configuration.restore_playbook_file}}&restoreState={{configuration.last_known_good_state}}">
                <ng-md-icon icon="settings_backup_restore"></ng-md-icon>
                Rollback
              </md-button>
            </td>
            <td md-cell>{{configuration.last_known_good_state}}</td>
            <td md-cell>{{configuration.description}}</td>
            <td md-cell>{{toDate(configuration.time) | date : "medium"}}</td>
            <td md-cell>{{configuration.vms}}</td>

          </tr>
          </tbody>
        </table>
      </md-table-container>

    </div>

  </md-dialog-content>

</md-dialog>
