<div ng-if="!components.length" layout-margin class="alert alert-info">
  No sufficient data to monitor. Head over to <a href="/design">Design</a> section and fill in environment details
</div>
<md-table-container width="800px">
  <table md-table md-progress="promise">
    <thead md-head md-order="query.order">
    <tr md-row>
      <th md-column md-numeric><span>ID</span></th>
      <th md-column ><span>Name</span></th>
      <th md-column style="width:200px;">Version</th>
      <th md-column style="width:200px;">Supported Version</th>

    </tr>
    </thead>
    <tbody md-body>
    <tr md-row md-select="component" md-select-id="id" md-auto-select ng-repeat="component in components">

      <td md-cell>{{$index}}</td>
      <td md-cell>{{component.name}}</td>
      <td md-cell style="padding-left:20px;" ng-class="{'version_mismatch' : component.version && (component.version !== component.supported_version),'version_match' : component.version === component.supported_version}">{{component.version}}<md-progress-circular ng-show="component.loading" md-mode="indeterminate"></md-progress-circular></td>
      <td md-cell style="padding-left:20px;">{{component.supported_version}}</td>

    </tr>
    </tbody>
  </table>
</md-table-container>
