.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

/*.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}*/

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  /*background: #2b3340;*/
  background: #39a7de;

}

/*.hero-unit h2{
  font-family: "Puddle";
}*/

.features-unit {

  padding: 30px 15px;
  color: #654d4d;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: white;
}


.lead{
  font-family: Source Sans Pro, Calibri, Candara, Arial, sans-serif;;
}

.navbar-text {
  margin-left: 15px;
}
