
md-list-item .md-button{
  width:200px;
}

md-list-item .md-button:focus{
  background-color: #0E5577;
}

md-list-item .md-button md-icon{
  fill: #4393B9
}

md-list-item .md-button ng-md-icon {
  fill: #4393B9;
}

.container{
  width: 100%;
  max-width: 960px;
  margin-top: 15px;
  text-align: center;
}

.progress-wrapper{
  position: relative;
  margin:0px;
  font-size: 40px;
}
.progress-label{
  position: absolute;
  color: #bbb;
  font-weight: 100;
  line-height: 1;
}
