<div layout="row">
  <div>
    <h3><ng-md-icon icon="view_comfy" size="40"></ng-md-icon> Dashboard</h3>
  </div>
  <div flex>

  </div>

</div>
<div flex ng-cloak>

  <md-grid-list
    md-cols="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
    md-row-height="150px"
    md-gutter="8px" ng-cloak>
    <md-grid-tile ng-repeat="tile in tiles"
                  md-rowspan="{{tile.span.row}}"
                  md-colspan="{{tile.span.col}}"
                  md-colspan-md="2"
                  md-colspan-sm="1"
                  md-colspan-xs="1"
                  ng-class="tile.background">

      <md-card style="width: 100%;height: 100%;{{tile.addStyle+tile.disabledStyle}}" >
        <md-card-header>
          <image style="width:50px;height:50px;margin-right:10px;" ng-src="/assets/images/product_icons/{{tile.objectType}}_logo_small.png"></image>
          <!--<md-icon ng-md-icon icon="{{tile.icon}}" size="32" style="width:50px;"></md-icon>-->
          <md-card-header-text>
            <span class="md-title">{{tile.title}}</span>
            <span class="md-subhead">{{tile.subtitle}}</span>
          </md-card-header-text>
            <div class="progress-wrapper" ng-show="tile.enabled">
              <div class="progress-label ng-cloak" ng-style="getStyle(false,tile.options.width/2,tile.isTime,tile.options.fgColor);">{{tile.label}}</div>
              <round-progress
                max="100"
                current="tile.count"
                color="{{tile.options.fgColor}}"
                bgcolor="#eaeaea"
                radius="20"
                stroke="3"
                semi="false"
                rounded="true"
                clockwise="true"
                responsive="false"
                duration="1000"
                animation="easeInOutQuad"
                animation-delay="{{tile.options.animationDelay}}"></round-progress>
            </div>

        </md-card-header>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-show="tile.enabled" class="md-hue-2" ng-disabled="!tile.accessLinkLive" ng-href="{{tile.object.accessLink}}" target="_blank" tooltip-placement="auto" uib-tooltip="{{tile.launchbuttontooltip}}" >
            Launch
            <ng-md-icon icon="{{tile.launchbuttonicon}}" ng-class="{'fa-spin':tile.launchbuttonicon=='refresh'}" ng-if="tile.launchbuttonicon"></ng-md-icon>
          </md-button>
          <!--<md-button  ng-show="tile.enabled">Edit</md-button>-->
        </md-card-actions>
        <md-card-content>
          {{tile.caption}}
          <div ng-if="!tile.objectType">
          <ng-md-icon icon="info">

            <md-tooltip>
              Head over to Design section to update environment information
            </md-tooltip>
          </ng-md-icon>
            Not configured
          </div>

        </md-card-content>


      </md-card>

      <!--<md-grid-tile-footer><h3><md-icon ng-md-icon icon="group_work" size="24" style="margin-top:30px;fill: white; width: 10%;" ></md-icon> {{tile.title}}</h3></md-grid-tile-footer>-->
    </md-grid-tile>
  </md-grid-list>
</div>

