<md-button class="md-raised" ng-click="checkUpdates()">Check for Updates

  <ng-md-icon icon="{{checkUpdatesButtonIcon}}" ng-class="{'fa-spin':checkUpdatesButtonIcon=='refresh'}" ng-if="checkUpdatesButtonIcon"></ng-md-icon>
</md-button>

<md-button class="md-raised md-accent" ng-click="showConfirm($event)"><ng-md-icon icon="file_upload"></ng-md-icon>Upgrade
  <ng-md-icon icon="{{UpgradeButtonIcon}}" ng-class="{'fa-spin':UpgradeButtonIcon=='refresh'}" ng-if="UpgradeButtonIcon"></ng-md-icon>
</md-button>

<div style="color:grey;" ng-show="logtime">
  <ng-md-icon icon="update" style="fill:grey;" uib-tooltip="Last run time"></ng-md-icon>
  {{logtime | date : "medium"}}
</div>

<div uib-collapse="!updateOutput" style="background:black;color:lightgrey;width:100%;padding:20px;">
  <!--<div btf-markdown="tile.logOutput">
  </div>-->
  <p class="logconsole" ng-bind-html="updateOutput"></p>
  <!--<div angular-terminal="deploy" class="terminal-container"></div>-->
</div>

<div role="info" layout-margin>
  <div class="hint"> Note: This is experimental!</div>
</div>

