<style>
  a:hover, a:focus {
     /*color: #2a6496;*/
     text-decoration: none;
  }
</style>
<div ng-cloak>
  <md-content>

    <div layout="row" ng-show="categories.length">
      <div>
        <h3><ng-md-icon icon="edit" size="40"></ng-md-icon> Design</h3>
      </div>
      <div flex=""></div>
      <md-button class="md-raised" href="/import" style="height: 40px;">
        <ng-md-icon icon="file_download"></ng-md-icon>
        Import
      </md-button>
    </div>

      <div ng-if="!projectSelected" layout-margin class="alert alert-info">
        No Project Selected. Select a project in the left menu bar or create a new project in the <a href="/projects">Projects</a> section
      </div>

    <div layout="row" layout-align="center" class="container" ng-hide="!projectSelected || categories.length">

      <md-list flex>
        <md-subheader class="md-no-sticky"></md-subheader>
        <!--<a>
          <md-list-item class="md-3-line" ng-click="null">
            <ng-md-icon icon="file_download" size="80" style="margin-right:120px;height: 80px;"></ng-md-icon>
            <div class="md-list-item-text" layout="column">
              <h2> 1. Download the Input Template </h2>
              <h4>   Download the input template from Inside Dell EHC Community page and update it with environmental details</h4>
              <p></p>
            </div>
          </md-list-item>
        </a>
        <md-divider ></md-divider>
        <a>
          <md-list-item class="md-3-line" ng-click="null" >
            &lt;!&ndash;<img ng-src="/assets/images/accessories-text-editor-icon.png" alt="{{item.who}}" />&ndash;&gt;
            <ng-md-icon icon="mode_edit" size="80" style="margin-right:120px;height: 80px;"></ng-md-icon>
            <div class="md-list-item-text" layout="column">
              <h2> 2. Gather Environment Data</h2>
              <h4>   Gather information about environment such as Hostnames, IP addresses, User Credentials etc. and update the Input Template</h4>
            </div>
          </md-list-item>
        </a>
        <md-divider ></md-divider>-->
        <a href="/import">
          <md-list-item class="md-3-line" ng-click="null" >
            <!--<img ng-src="/assets/images/downloads-icon.png" alt="{{item.who}}" />-->
            <ng-md-icon icon="file_upload" size="80" style="margin-right:120px;height: 80px;"></ng-md-icon>
            <div class="md-list-item-text" layout="column">
              <h2>1. Upload Design</h2>
              <h4>   Upload gathered environmental details back by importing the Excel file</h4>
            </div>
          </md-list-item>
        </a>
        <md-divider ></md-divider>
        <a href="/deploy">
          <md-list-item class="md-3-line" ng-click="null" >
            <!--<img ng-src="/assets/images/rocket-icon.png" />-->
            <ng-md-icon icon="flight" size="80" style="margin-right:120px;height: 80px;"></ng-md-icon>
            <div class="md-list-item-text" layout="column">
              <h2>2. Deploy</h2>
              <h4>  Deploy EHC Components and Configure</h4>
            </div>
          </md-list-item>
        </a>
      </md-list>

    </div>

    <div ng-show="categories.length">

    <md-input-container>
      <label>Type</label>
      <!--<md-icon ng-md-icon style="fill:grey;"></md-icon>-->
      <md-select id="type" ng-model="selectedCategory" style="width:300px;" >
        <md-option ng-value="">
          All
        </md-option>
        <md-option ng-repeat="category in categories" ng-value="category">
          {{category.name}}
        </md-option>
      </md-select>
    </md-input-container>

    <md-input-container style="top: 13px;">
      <label>Search</label>
      <input name="host" ng-model="searchText">
    </md-input-container>

      <!--<md-button class="md-raised md-hue-2" ng-click="customEdit()" ng-show="!editMode">
        Edit
        <ng-md-icon icon="mode_edit"></ng-md-icon>
      </md-button>-->
      <div md-theme="{{buttontheme}}" ng-show="editMode" style="display: inline-block;">

        <md-input-container>
          <md-checkbox  ng-model="showPassword">
            Show Password
          </md-checkbox>
        </md-input-container>

        <md-button md-theme-watch id="submitButton" class="md-raised md-primary md-hue-2" ng-click="save()" tooltip-placement="right" uib-tooltip="{{errmsg}}">
          Save
          <ng-md-icon icon="{{buttonicon}}" ng-class="{'fa-spin':buttonicon=='refresh'}" ng-if="buttonicon"></ng-md-icon>
        </md-button>
        <md-button class="md-raised " ng-click="cancel()">
          Cancel
        </md-button>


      </div>

      <md-table-container>
        <table md-table >
          <thead md-head md-order="query.order">
          <tr md-row>
            <th md-column >Category</th>
            <th md-column >Key</th>
            <th md-column >Value</th>
          </tr>
          </thead>
          <tbody md-body ng-repeat="category in categories | filter : {name : selectedCategory.name}">
          <tr md-row ng-repeat="(key,value) in category.data | customFilter:searchText">
            <td md-cell>{{category.name}}</td>
            <td md-cell>{{key}}</td>
            <td md-cell ng-click="editMode && editValue($event, category.data, key)">{{!isPassword(key) || showPassword ? value : "********"}}</td>
          </tr>
          </tbody>
        </table>
      </md-table-container>

    <!--<div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>Category</th>
          <th>Key</th>
          <th>Value</th>
        </tr>
        </thead>
        <tbody ng-repeat="category in categories | filter : {name : selectedCategory.name}">
        <tr ng-repeat="(key,value) in category.data | customFilter:searchText">
          <td>{{category.name}}</td>
          <td>{{key}}</td>
          <td>{{value}}</td>
        </tr>
        </tbody>
      </table>
    </div>-->

    </div>

  </md-content>
</div>
