<style>
  .ace_editor {
    height: 500px;
  }
</style>

<div layout="row">
  <div layout="column">
    <!--<h3><ng-md-icon icon="file_upload" size="40"></ng-md-icon> Upload</h3>-->
    <js-xls ng-hide="true" id="input-file-id" onread="readExcelFile" onerror="errorReadingExcelFile"></js-xls>
    <label for="input-file-id" class="md-button md-raised md-primary">
      <ng-md-icon icon="file_upload"></ng-md-icon>
      Upload Excel File
    </label>

  </div>

  <div layout="column" flex>

  </div>

  <!--<div layout="column">
    <a href="/assets/downloads/EHC_VxRail_AutoDeploy_inputs_v11.zip" target="_self">
      <label class="md-button md-raised md-primary">
        <ng-md-icon icon="file_download"></ng-md-icon>
        Download Blank Excel Template
      </label>
    </a>
  </div>-->

  <div layout="column">
    <div style="padding-top: 15px;">
      <md-checkbox ng-model="showCurrentData.value" style="margin-right:10px;">Show database data</md-checkbox>
    </div>
  </div>
</div>

<div>


  <div class="row" style="margin:0px;">
    <div class="col-md-6" >
      <div ng-show="inputData">
        <h3>Verify Input Data</h3>
        <div  ui-ace="{document:'INI',mode:'ini'}" ng-readonly="true" ng-model="inputData">
        </div>
      </div>

      <div md-theme="{{buttontheme}}" ng-if="editMode">
        <md-button ng-disabled="errmsgs.length" md-theme-watch aria-label="Submit" id="submitButton" class="md-raised md-primary md-hue-2"
                   ng-click="processData()" tooltip-placement="right" uib-tooltip="{{errmsg}}">
          {{buttontext}}
          <ng-md-icon icon="{{buttonicon}}" ng-class="{'fa-spin':buttonicon=='refresh'}" ng-if="buttonicon"></ng-md-icon>
        </md-button>
        <md-button aria-label="Cancel" class="md-raised" ng-click="cancelForm()">
          Cancel
        </md-button>

      </div>
    </div>
    <div class="col-md-3" ng-if="!showCurrentData.value">
      <div ng-repeat="errmsg in errmsgs" class="alert alert-danger" style="padding: 8px;margin-bottom: 5px;">
        <ng-md-icon icon="error"></ng-md-icon> {{errmsg}}
      </div>
    </div>
    <div class="col-md-3" ng-if="!showCurrentData.value">
      <div ng-repeat="warning in warnings" class="alert alert-warning" style="padding: 8px;margin-bottom: 5px;">
        <ng-md-icon icon="warning"></ng-md-icon> {{warning}}
      </div>
    </div>
    <div class="col-md-6" ng-if="showCurrentData.value">
      <h4>Current Data</h4>
      <div ui-ace="{document:'INI',mode:'json'}" ng-model="selectedProject" ng-readonly="true">
      </div>
    </div>

  </div>

  <!--<md-button class="md-raised md-hue-2" ng-click="edit()" ng-if="!editMode">
    Edit
    <ng-md-icon icon="edit"></ng-md-icon>
  </md-button>-->


</div>
