<style>
  md-list-item.md-3-line, md-list-item.md-3-line > .md-no-style {
    min-height: 0px;
  }
</style>

<div layout="row">
  <div>
    <h3><ng-md-icon icon="flight" size="40"></ng-md-icon> Deploy </h3>
  </div>
  <div flex>
  </div>
  <div>
      <md-progress-circular ng-show="gettingAnsiblePlaybooks || workflow.loading" md-mode="indeterminate"></md-progress-circular>
  </div>
  <div >
    <md-button ng-if="isSuperAdmin" ng-disabled="!selectedComponents.length" class="md-raised md-primary" href="/ansible/run?component={{selectedComponents.join(',')}}"> Run All </md-button>
    <md-button class="md-raised" href="/ansible/all_runs"> Runs </md-button>
  </div>

</div>

<div layout="row" >
  <div>
    <md-checkbox ng-show="isSuperAdmin" ng-model="additional_options.advanced_settings" style="margin-right:10px;">Advanced</md-checkbox>
  </div>
  <div flex>

  </div>
  <!--<div style="text-align: center;" ng-show="rollbackPoints.length">
    <md-button md-theme="green" class="md-primary md-raised" ng-click="showLastGoodConfigurations($event)" > <ng-md-icon icon="stars"></ng-md-icon> Restore Points ({{lastGoodConfigurations.length}}) </md-button>
    <br>
    <span style="color:darkgreen;font-size:12px;">{{rollbackPoints.slice(-1)[0].rollback_point}}</span>
  </div>-->
</div>

<div layout="row" class="md-whiteframe-1dp" style="padding:20px;margin:10px;" ng-if="!hasConfigureRole">
  <h4>You do not have sufficient privileges to view this page.</h4>
  <md-button md-theme="green" class="md-raised md-primary md-hue-2" ng-click="showEmailUs($event)" href=""> <ng-md-icon icon="email" size="24"></ng-md-icon> Request Access </md-button>
</div>

<div class="row" style="margin-right: 0px;" ng-if="hasConfigureRole">
  <div ng-if="!gettingAnsiblePlaybooks && !workflows.length" layout-margin class="alert alert-info">
    No sufficient data to Run Jobs. Head over to <a href="/design">Design</a> section and fill in environment details
  </div>
  <md-table-container>
    <table md-table md-row-select="isSuperAdmin" multiple ng-model="selectedComponents" md-progress="promise">
      <thead md-head md-order="query.order">
      <tr md-row>
        <th md-column md-numeric><span>ID</span></th>
        <th md-column ><span>Name</span></th>
        <th md-column >Last Change Time</th>
        <th md-column > Attempts </th>
        <!--<th md-column >Ansible State</th>-->
        <th md-column >State</th>
        <th md-column >Actions</th>

      </tr>
      </thead>
      <tbody md-body>
      <tr md-row md-select="workflow.objectType" md-select-id="id" ng-repeat="workflow in workflows | orderBy: '-title' ">

        <td md-cell>{{$index + 1}}</td>
        <td md-cell><product-logo size="'small'"></product-logo> {{workflow.title | humanizeText}}</td>
        <td md-cell>{{ workflow.jobObject.date | date : "medium" }}</td>
        <!--<td md-cell><status-label state="workflow.jobObject.ansibleState" default-text="workflow.jobObject.ansibleState">{{workflow.jobObject.ansibleState}}</status-label></td>-->
        <td md-cell>{{ workflow.jobObjects.length }}</td>
        <td md-cell>
          <status-label state="workflow.jobObject.state" default-text="workflow.jobObject.state">{{workflow.jobObject.state}}</status-label>
        </td>
        <td md-cell>
          <ng-md-icon icon="refresh" class="fa-spin" ng-if="workflow.loading">Refreshing</ng-md-icon>
          <md-button ng-if="!workflow.loading && !workflow.jobObject.state" class="md-raised md-primary" href="/ansible/run?component={{workflow.objectType}}"> Go <ng-md-icon icon="play_circle_fill" ></ng-md-icon> </md-button>
          <md-button ng-if="!workflow.loading && workflow.title.indexOf('MASTER') > -1 && workflow.jobObject.state && restorePoint && restoreWorkflow.jobObject.state=='complete'" class="md-raised md-primary" href="/ansible/run?component={{workflow.objectType}}"> Retry <ng-md-icon icon="replay" ></ng-md-icon> </md-button>
          <md-button ng-if="!workflow.loading && workflow.jobObject.state" class="md-raised" href="/ansible/runs/{{workflow.objectType}}"> View <ng-md-icon icon="visibility" ></ng-md-icon> </md-button>
        </td>

      </tr>
      </tbody>
    </table>
  </md-table-container>

</div>

<!--<div role="info" layout-margin>
  <div class="hint"> Note: Always displays the status of last run activity and does not guarantee the current state of the component. To know the current state check monitor section</div>
</div>-->
