<div class="row" style="margin-right: 0px;">
  <div ng-if="!tiles.length" layout-margin class="alert alert-info">
    No sufficient data to monitor. Head over to <a href="/design">Design</a> section and fill in environment details
  </div>
  <div ng-repeat="tile in tiles">
    <div ng-class="tile.showLog ? 'col-md-6' : 'col-md-3'" >
      <md-card style="width: 100%;height: 100%;">

        <md-card-header>
          <image style="width:50px;height:50px;margin-right:10px;" ng-src="/assets/images/product_icons/{{tile.objectType}}_logo_small.png"></image>
          <!--<md-icon ng-md-icon icon="{{tile.icon}}" size="32" style="width:50px;"></md-icon>-->
          <md-card-header-text>
            <span class="md-title">{{tile.title}}</span>
            <!--<span class="md-subhead">{{tile.subtitle}}</span>-->
          </md-card-header-text>
          <!--<md-progress-circular ng-show="tile.loading" md-mode="indeterminate"></md-progress-circular>-->
        </md-card-header>

        <md-card-content style="padding:0px;">
          <div class="row">
            <!--<div class="col-md-6">
              <div btf-markdown="tile.caption">
              </div>
            </div>-->

            <div class="col-md-12" style="text-align: center;">

              <div class="progress-wrapper">
                <div class="progress-label ng-cloak" ng-style="getStyle(false,tile.options.width/2,tile.isTime,tile.options.fgColor);">{{tile.label}}</div>
                <round-progress
                  max="100"
                  current="tile.progress"
                  color="{{tile.options.fgColor}}"
                  bgcolor="#eaeaea"
                  radius="50"
                  stroke="5"
                  semi="true"
                  rounded="true"
                  clockwise="true"
                  responsive="false"
                  duration="1000"
                  animation="easeInOutQuad"
                  animation-delay="{{tile.options.animationDelay}}"></round-progress>
              </div>
            </div>

          </div>
          <!--<uib-progressbar type="{{progressType}}" value="progress">{{progress}}%</uib-progressbar>-->


          <md-checkbox ng-show="tile.showLog" ng-click="refreshLogs(tile)" ng-model="tile.refreshLog">Refresh Log</md-checkbox>

          <!--<div style="display:inline-block;" class="alert alert-danger" ng-if="tile.progress < 0">Error. Check Logs for more information.</div>-->
          <div uib-collapse="!tile.logOutput || !tile.showLog" style="background:black;color:lightgrey;width:100%;padding:20px;">
            <p class="logconsole" ng-bind-html="tile.logOutput"></p>
          </div>

          <div uib-collapse="!tile.showSteps">
            <md-list>
              <md-subheader class="md-no-sticky">
                <ng-md-icon icon="format_list_numbered"></ng-md-icon>
                Details
              </md-subheader>
              <md-list-item style="min-height: 0px;" class="md-3-line" ng-repeat="trackItem in tile.trackingItems" ng-click="null">
                <!--<md-checkbox ng-disabled ng-true-value="'SUCCESS'" ng-false-value="'PENDING'" ng-model="value"></md-checkbox>-->
                <ng-md-icon icon="{{trackItem.icon}}" ng-class="{'fa-spin':trackItem.icon == 'refresh'}" style="fill:{{trackItem.color}}"></ng-md-icon>
                <p>{{trackItem.item}}</p>
                <!--<div class="md-list-item-text" layout="column">
                  <md-button style="min-height: 0px;" class="md-fab md-mini"></md-button>
                  <p>{{ key }}</p>
                </div>-->
              </md-list-item>
              <md-divider ></md-divider>
            </md-list>
          </div>

        </md-card-content>
        <md-card-actions layout="row" layout-align="end center" style="padding:0px;">

          <div md-theme="{{tile.buttontheme}}">
            <md-checkbox ng-model="tile.showSteps" style="margin-right:10px;">Details</md-checkbox>
            <md-checkbox ng-model="tile.showLog" style="margin-right:10px;">Log</md-checkbox>
            <md-button md-theme-watch id="submitButton" class="md-fab md-mini md-raised md-hue-2" ng-click="getMonitorInfo(tile)" tooltip-placement="auto" uib-tooltip="Click to refresh">
              <ng-md-icon icon="{{tile.buttonicon}}" ng-class="{'fa-spin':tile.buttonspin}" ng-if="tile.buttonicon"></ng-md-icon>
            </md-button>
            <!--<md-button class="md-raised md-hue-2" ng-disabled="!tile.accessLinkLive" ng-href="{{tile.object.accessLink}}" target="_blank" tooltip-placement="auto" uib-tooltip="{{tile.launchbuttontooltip}}" style="top:12px;">
              Launch
              <ng-md-icon icon="{{tile.launchbuttonicon}}" ng-class="{'fa-spin':tile.launchbuttonicon=='refresh'}" ng-if="tile.launchbuttonicon"></ng-md-icon>
            </md-button>-->
          </div>
        </md-card-actions>
        <!--{{tile.object.accessLink}}-->
      </md-card>
    </div>
    <div class="clearfix" ng-if="(($index+1) % 4)==0"></div>
  </div>
</div>

