<style>
  md-list-item.md-3-line, md-list-item.md-3-line > .md-no-style {
    min-height: 0px;
  }
</style>

<div layout="row">
  <div>
    <h3><ng-md-icon icon="subscriptions" size="40"></ng-md-icon> All Runs </h3>
  </div>
  <div flex>
  </div>
  <div>
    <md-progress-circular ng-show="gettingAnsibleJobs" md-mode="indeterminate"></md-progress-circular>
  </div>
</div>


<div layout="row" >
  <div>
  </div>
  <div flex>
    <md-button class="md-fab md-mini md-warn pull-right" aria-label="Delete Project" ng-click="showDeleteJobDialog($event)" ng-disabled="!selectedJobs.length">
      <md-icon ng-md-icon icon="delete"></md-icon>
    </md-button>
  </div>
</div>


<div class="row" style="margin-right: 0px;" >
  <div ng-if="!gettingAnsibleJobs && !ansibleJobs.length" layout-margin class="alert alert-info">
    No sufficient data to Run Jobs. Head over to <a href="/design">Design</a> section and fill in environment details
  </div>
  <md-table-container>
    <table md-table md-row-select multiple ng-model="selectedJobs" md-progress="promise">
      <thead md-head md-order="query.order">
      <tr md-row>
        <th md-column md-order-by="jobId" md-numeric><span>ID</span></th>
        <th md-column md-order-by="name"><span>Name</span></th>
        <th md-column md-order-by="date">Time</th>
        <th md-column md-order-by="state">State</th>
        <th md-column md-order-by="user">User </th>
        <th md-column md-order-by="tasks">Tasks</th>
        <th md-column md-order-by="timeDifference"style="text-align: center;">Duration</th>

      </tr>
      </thead>
      <tbody md-body>
      <tr md-row md-select="ansibleJob" md-select-id="_id" ng-repeat="ansibleJob in ansibleJobs | orderBy: query.order">

        <td md-cell>{{ansibleJob.jobId}}</td>
        <td md-cell>{{ansibleJob.name | humanizeText}}</td>
        <td md-cell>{{ ansibleJob.date | date : "MMM d, HH:mm" }}</td>
        <!--<td md-cell><status-label state="workflow.jobObject.ansibleState" default-text="workflow.jobObject.ansibleState">{{workflow.jobObject.ansibleState}}</status-label></td>-->
        <td md-cell><status-label state="ansibleJob.state" default-text="ansibleJob.state">{{ansibleJob.state}}</status-label></td>
        <td md-cell>{{ansibleJob.user}}</td>
        <td md-cell>{{ansibleJob.tasks}}</td>
        <td md-cell>
          <timer ng-if="ansibleJob.timeDifference" duration="ansibleJob.timeDifference"
                 tick="ansibleJob.state == 'active'" size="'Small'">
          </timer>
        </td>
        <td md-cell>
          <md-button class="md-icon-button md-primary" href="/ansible/runs/{{ansibleJob.type}}"> <ng-md-icon icon="visibility" ></ng-md-icon>
            <md-tooltip md-direction="top">
              View Job
            </md-tooltip>
          </md-button>
          <md-button class="md-icon-button md-primary" md-theme="red" ng-disabled="ansibleJob.state != 'active' || ansibleJob.state == 'stopping'" ng-click="showStopJobDialog($event, ansibleJob)"> <ng-md-icon icon="stop" ></ng-md-icon>
            <md-tooltip md-direction="top">
              Stop Job
            </md-tooltip>
          </md-button>
          <md-button class="md-icon-button md-primary" md-theme="red" ng-disabled="ansibleJob.state != 'stopping' && ansibleJob.state != 'killing'" ng-click="showKillJobDialog($event, ansibleJob)"> <ng-md-icon icon="cancel" ></ng-md-icon>
            <md-tooltip md-direction="top">
              Kill Job
            </md-tooltip>
          </md-button>
          <!--<md-button class="md-icon-button md-primary" md-theme="red" ng-disabled="ansibleJob.state == 'stopping' || ansibleJob.state == 'killing' || ansibleJob.state == 'active'" ng-click="showDeleteJobDialog($event, ansibleJob, $index)"> <ng-md-icon icon="delete" ></ng-md-icon>
            <md-tooltip md-direction="top">
              Delete Job
            </md-tooltip>
          </md-button>-->
        </td>

      </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{ allAnsibleJobs.length }}" md-on-paginate="getPageData" md-page-select></md-table-pagination>
  <!--{{ ansibleJobs }}-->
</div>

<!--<div role="info" layout-margin>
  <div class="hint"> Note: Always displays the status of last run activity and does not guarantee the current state of the component. To know the current state check monitor section</div>
</div>-->
