<h2 style="color:dimgrey;">
  <ng-md-icon icon="play_circle_outline" size="32" style="padding-top: 5px;vertical-align: top; fill: dimgrey;"></ng-md-icon>
  {{ retryFailed ? "Retry Failed" : "Run" }} - {{ component }}
</h2>


  <md-content class="md-padding" style="min-height: 200px;">

    <div ng-if="isRollbackWorkflow">
      <div class="alert alert-danger">
        <ng-md-icon icon="warning"></ng-md-icon>
        Caution! Restore Workflow: You are going to run a restore workflow that will attempt to perform environment restore functionalities such as
        restoring snapshot of VMs, databases, and other components in the environment. This action cannot be undone!
      </div>
    </div>

    <div style="display:inline-block">
      <!--<md-checkbox ng-model="additional_options.pre_validation" style="margin-right:10px;">Pre Validation</md-checkbox>
      <md-checkbox ng-model="additional_options.post_validation" style="margin-right:10px;">Post Validation</md-checkbox>
      <md-checkbox ng-model="additional_options.verbose" ng-true-value="'verbose'" style="margin-right:10px;">Verbose</md-checkbox>
      <md-checkbox ng-model="additional_options.verbose_detail" ng-true-value="'verbose_detail'" style="margin-right:10px;">Verbose Detail</md-checkbox>-->
      <play-button style="display: inline-block;" default-text="taskListButtonText.default" progress-text="taskListButtonText.progress" completed-text="taskListButtonText.completed" md-raised="taskListButtonTheme" state="taskListButton.state" tool-tip-text="taskListButtontoolTipMsg" action="mergeAndGetTasksList($event)"></play-button>
      <play-button disabled="playButton.state == 'RUNNING' || playButtonText.default=='Run' && !filteredTasks.length" style="display: inline-block;" default-text="playButtonText.default" progress-text="playButtonText.progress" completed-text="playButtonText.completed" md-raised="playbuttonTheme" state="playButton.state" tool-tip-text="toolTipMsg" action="executePlaybook($event)"></play-button>
    </div>
    <div flex style="display:inline-block"></div>
    <div style="display:inline-block">
      <md-button style="display:inline-block" class="md-raised" href="/ansible/runs/{{component}}">
        <ng-md-icon icon="history"></ng-md-icon>
        Runs
      </md-button>
    </div>
    <div flex style="display:inline-block"></div>

    <div style="display:inline-block" ng-if="isSuperAdmin">
      <md-checkbox ng-model="additional_options.advanced_options" style="margin-right:10px;">Advanced Options</md-checkbox>
      <md-checkbox ng-show="additional_options.advanced_options" ng-model="additional_options.show_all" style="margin-right:10px;"> Show All </md-checkbox>
    </div>

    <div layout="row">

      <!--<div layout="column">
        <md-table-container>
          <table md-table md-progress="promise" md-row-select multiple ng-model="selectedWorkflows">
            <thead md-head md-order="query.order">
            <tr md-row>
              <th md-column >Workflow</th>
              <th md-column ></th>
            </tr>
            </thead>
            <tbody md-body sortable options="sortableOptions" ng-model="component_list" drag-end="dragEnded">
            <tr ng-disabled="!additional_options.advanced_options" md-select="component" md-select-id="id" md-on-deselect="mergeAndGetTasksList" md-on-select="mergeAndGetTasksList" md-auto-select  md-row ng-repeat="component in component_list" style="top:0px;left:0px;">
              <td md-cell ng-mousedown="preventDrag($event)">{{component}}</td>
              <td md-cell><ng-md-icon ng-show="component_list.length > 1" icon="reorder" style="cursor: -webkit-grab;"></ng-md-icon></td>
            </tr>
            </tbody>
          </table>
        </md-table-container>
      </div>-->
      <div layout="column" ng-hide="additional_options.pre_validation || additional_options.post_validation">
        <md-table-container style="min-width: 300px;">
          <table md-table md-row-select="isSuperAdmin" multiple ng-model="selectedTags" md-progress="promise">
            <thead md-head md-order="query.order">
            <tr md-row>
              <!--<th md-column md-numeric><span>ID</span></th>-->
              <th md-column ><span>Task Group</span></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-hide="(restore_point_index || rerun || retryFailed) && !additional_options.show_all && !isSelected(tag)" ng-disabled="!additional_options.advanced_options" md-select="tag" md-on-deselect="rowDeSelected" md-on-select="rowSelected" md-select-id="id" md-auto-select ng-repeat="tag in all_tags">
              <!--<td md-cell>{{$index}}</td>-->
              <td md-cell><product-logo size="'small'" product="tag.name.split(' ')[0]"></product-logo>{{tag.name | humanizeText}}</td>
            </tr>
            </tbody>
          </table>
        </md-table-container>
      </div>

      <div layout="column">
        <md-table-container>
          <table md-table md-progress="promise" md-row-select="isSuperAdmin" multiple ng-model="selectedHosts">
            <thead md-head md-order="query.order">
            <tr md-row>
              <th md-column >Host Name</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr ng-disabled="!additional_options.advanced_options" md-select="host" md-select-id="id" md-on-deselect="filterTasksByHosts" md-on-select="filterTasksByHosts" md-auto-select  md-row ng-repeat="host in filteredHosts | orderBy: 'name'">
              <td md-cell>{{host.name}}</td>
            </tr>
            </tbody>
          </table>
        </md-table-container>
      </div>

      <div layout="column">
        <md-table-container>
          <table md-table md-progress="promise">
            <thead md-head md-order="query.order">
            <tr md-row>
              <th md-column md-numeric><span>ID</span></th>
              <!--<th md-column ><span>Playbook Name</span></th>-->
              <!--<th md-column >Play Name</th>-->
              <th md-column >Tasks to Execute</th>
              <!--<th md-column >Tags</th>-->
              <!--<th md-column >Hosts</th>-->

            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="task in filteredTasks">

              <td md-cell>{{$index + 1}}</td>
              <!--<td md-cell>{{task.playbook}}</td>-->
              <!--<td md-cell>{{task.play}}</td>-->
              <td md-cell>{{task.task}}</td>
              <!--<td md-cell>{{task.tags}}</td>-->
              <!--<td md-cell>{{task.hosts.join(", ")}}</td>-->
            </tr>
            </tbody>
          </table>
        </md-table-container>
      </div>
    </div>
  </md-content>


