<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Job Runner</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content class="md-padding" style="min-height: 200px;">
    <p>
      <md-checkbox ng-model="additional_options.check_mode" ng-true-value="'Check'" ng-false-value="'No_Check'"  style="margin-right:10px;">Check Mode</md-checkbox>
      <md-checkbox ng-model="additional_options.verbose" ng-true-value="'verbose'" style="margin-right:10px;">Verbose</md-checkbox>
      <md-checkbox ng-model="additional_options.verbose_detail" ng-true-value="'verbose_detail'" style="margin-right:10px;">Verbos Detail</md-checkbox>
      <md-checkbox ng-model="additional_tags.show" style="margin-right:10px;">Additional Tags</md-checkbox>
    </p>
    <div layout="row">
      <div layout="column">
        <md-table-container style="min-width: 300px;">
          <table md-table md-row-select multiple ng-model="selectedTags" md-progress="promise">
            <thead md-head md-order="query.order">
            <tr md-row>
              <!--<th md-column md-numeric><span>ID</span></th>-->
              <th md-column ><span>Task Group</span></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row md-select="tag" md-on-deselect="rowSelected" md-on-select="rowSelected" md-select-id="id" md-auto-select ng-repeat="tag in all_tags">
              <!--<td md-cell>{{$index}}</td>-->
              <td md-cell>{{tag.name | humanizeText}}</td>
            </tr>
            </tbody>
          </table>
        </md-table-container>
      </div>
      <div layout="column">
        <md-table-container>
          <table md-table md-progress="promise">
            <thead md-head md-order="query.order">
            <tr md-row>
              <!--<th md-column md-numeric><span>ID</span></th>-->
              <!--<th md-column ><span>Playbook Name</span></th>-->
              <!--<th md-column >Play Name</th>-->
              <th md-column >Task Name</th>
              <!--<th md-column >Tags</th>-->

            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="task in filteredTasks">

              <!--<td md-cell>{{$index}}</td>-->
              <!--<td md-cell>{{task.playbook}}</td>-->
              <!--<td md-cell>{{task.play}}</td>-->
              <td md-cell>{{task.task}}</td>
              <!--<td md-cell>{{task.tags}}</td>-->
            </tr>
            </tbody>
          </table>
        </md-table-container>
      </div>
      <div layout="column">
        <md-table-container>
          <table md-table md-progress="promise" md-row-select multiple ng-model="selectedHosts">
            <thead md-head md-order="query.order">
            <tr md-row>
              <!--<th md-column md-numeric><span>ID</span></th>-->
              <!--<th md-column ><span>Playbook Name</span></th>-->
              <!--<th md-column >Play Name</th>-->
              <th md-column >Host Name</th>
              <!--<th md-column >Tags</th>-->

            </tr>
            </thead>
            <tbody md-body>
            <tr md-select="host" md-select-id="id" md-auto-select  md-row ng-repeat="host in filteredHosts">

              <!--<td md-cell>{{$index}}</td>-->
              <!--<td md-cell>{{task.playbook}}</td>-->
              <!--<td md-cell>{{task.play}}</td>-->
              <td md-cell>{{host.name}}</td>
              <!--<td md-cell>{{task.tags}}</td>-->
            </tr>
            </tbody>
          </table>
        </md-table-container>
      </div>
    </div>

    <!--<p class="logconsole" ng-bind-html="component.logOutput | replaceLineBreaks"></p>-->
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <!--<md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
      More on Wikipedia
    </md-button>
    <span flex></span>-->
    <play-button default-text="playButtonText.default" progress-text="playButtonText.progress" completed-text="playButtonText.completed" state="playButton.state" tool-tip-text="tile.toolTipMsg" action="executePlaybook($event)"></play-button>
    <md-button ng-click="cancel()">
      <ng-md-icon icon="close"></ng-md-icon>
      Cancel
    </md-button>
  </md-dialog-actions>

</md-dialog>
